<!-- Head -->
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/kleva-main-theme.css" />
	<title>Kleva Games</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>
	<!-- 
Main Navbar
- Users who haven't signed in
-->

	<nav class="navbar navbar-expand-lg navbar-light bg-custom py-3 mb-3 shadow-sm">
		<!-- Kleva Logo -->
		<a href="/home"><img src="../img/logo.png" alt="Kleva" class="logo navbar-brand" /></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto ml-2 mt-2 mr-3">

				<% if (user === 'teacher') { %>
				<li class="nav-item active">
					<a class="nav-link" href="/teacher-dashboard">Dashboard<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<form method="POST" action="/sign-out"><button class="nav-link button" type="submit"
							style="color: inherit;">Log Out<span class="sr-only">(current)</span></button></form>
				</li>
				<% } else if(user === 'student') { %>
				<li class="nav-item active">
					<a class="nav-link" href="/student-dashboard">Dashboard<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<form method="POST" action="/sign-out"><button class="nav-link button" type="submit"
							style="color: inherit;">Log Out<span class="sr-only">(current)</span></button></form>
				</li>
				<% } else if(user === 'creator'){ %>
				<li class="nav-item active">
					<a class="nav-link" href="/creator-dashboard">Dashboard<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<form method="POST" action="/sign-out"><button class="nav-link button" type="submit"
							style="color: inherit;">Log Out<span class="sr-only">(current)</span></button></form>
				</li>
				<% } else { %>
				<li class=" nav-item dropdown mr-3">
					<a class="klevabtn px-3 nav-link dropdown-toggle shadow-sm rounded" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Log In As
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/teacher-signin">Teacher</a>
						<a class="dropdown-item" href="/student-signin">Student</a>
						<a class="dropdown-item" href="/creator-signin">Game Creator</a>
					</div>
				</li>
				<% } %>
				<li class="nav-item active">
					<a class="nav-link" href="../../../gamesgallery/?page=1">Games Gallery<span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
				</li>



				<!-- Other Types of Navbar Elements
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>  -->
			</ul>
		</div>
	</nav>

	<div class="wrapper">

		<% if(user === 'student') { %>

		<body onload=studentTracker()></body>
		<% } %>
		<!-- Page Content -->
		<div class="container">

			<!-- Game Container -->
			<div class="container-xl">
				<button class="btn btn-sm my-2 mx-0 gamePageReturn" onclick=rewind() style="border: none;">
					Back to Game Gallery</button>
				<hr>
				<h1 class="gamePageTitle"><%- game.title %></h1>
				<p class="gamePageDescription"><%- game.description %></p>
				<h3 class="badge badge-pill gamePageCurriculum"><%- game.category %></h3>
				<div class="row d-flex text-center my-5 gamepage-back">
					<div class="col-12 justify-content-center">
						<button type="submit" class="btn btn-lg text-center px-5 my-5 gameLoader" style="border: none;"
							id="gameLoader" onclick=loader()>Play Game
						</button>
						<div>
							<div class="embed-responsive embed-responsive-16by9" id="gameHolder">

							</div>
						</div>

					</div>

				</div>
			</div>

			<!-- Category Badges -->
			<div class="container">
				<!-- Category Badges -->
				<div class="row text-center mt-3 mb-5">
					<div class="col-lg-4 mb-5">
						<div class="card p-3 category">
							<a href="/gamesgallery/?page=1&gameCategory=English"><img
									src='https://storage.googleapis.com/kleva_assets/english.png'
									class="img-fluid img-fluid1" /></a>
							<div class="card-footer card-footer1">
								ENGLISH
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-5">
						<div class="card p-3 category card2">
							<a href="/gamesgallery/?page=1&gameCategory=Maths"><img
									src='https://storage.googleapis.com/kleva_assets/mathematics.png'
									class="img-fluid img-fluid1" /></a>
							<div class="card-footer card-footer2">
								MATHS</div>
						</div>
					</div>
					<div class="col-lg-4 mb-5">
						<div class="card p-3 category card3">
							<a href="/gamesgallery/?page=1&gameCategory=Technology"><img
									src='https://storage.googleapis.com/kleva_assets/technologies.png'
									class="img-fluid img-fluid1" /></a>
							<div class="card-footer card-footer3">
								TECH
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-5">
						<div class="card p-3 category card4">
							<a href="/gamesgallery/?page=1&gameCategory=Arts"><img
									src='https://storage.googleapis.com/kleva_assets/theArts.png'
									class="img-fluid img-fluid1" /></a>
							<div class="card-footer card-footer4">
								ARTS</div>
						</div>
					</div>
					<div class="col-lg-4 mb-5">
						<div class="card p-3 category card5">
							<a href="/gamesgallery/?page=1&gameCategory=Science"><img
									src='https://storage.googleapis.com/kleva_assets/science.png'
									class="img-fluid img-fluid1" /></a>
							<div class="card-footer card-footer5">
								SCIENCE</div>
						</div>
					</div>
					<div class="col-lg-4 mb-5">
						<div class="card p-3 category card6">
							<a href="/gamesgallery/?page=1&gameCategory=Humanities"><img
									src='https://storage.googleapis.com/kleva_assets/humanitiessocialSciences.png'
									class="img-fluid img-fluid1" /></a>
							<div class="card-footer card-footer6">
								HUMANITIES
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-lg-3 -->



				<!-- /.container -->
			</div>
		</div>

</body>
<!-- Footer -->
<footer class="py-5 bg-custom mt-5 footer">
	<div class="container">
		<p class="text-center m-0">
			Copyright &copy; Kleva 2020
		</p>
		<!-- /.container -->
	</div>
</footer>
<script src="/js/timeme.js"></script>
<script>

	function loader() {
		document.getElementById("gameLoader").innerHTML = 'Refresh Game'
		document.getElementById("gameHolder").innerHTML = "<iframe class=\"embed-responsive-item\" id=\"gameIframe\" src=\"<%- game.gameFileURL %>\"></iframe>";
	}

	function rewind() {
		window.history.back();
	}

	// Initialize library on Game Initiation and start tracking time.
	function studentTracker() {
		TimeMe.initialize({
			currentPageName: "game-page", // current page
			idleTimeoutInSeconds: 20 // If the student's mouse is not inside the game-frame stop.
		});
	}


	// Post the time to the classroomStats table.
	function checkTimeSpent() {
		console.log(TimeMe.getTimeOnCurrentPageInSeconds())

	}

	//AJAX post for Tracking Student Activity
	$(window).on("beforeunload", function (e) {
		TimeMe.stopTimer();
		const totalTime = TimeMe.getTimeOnCurrentPageInSeconds();
		$.post("/add-time",
			{
				gameID: '<%- game.gameID %>',
				time: totalTime,
			},
		);
	});
</script>



</html>