<%- include('reusables/head.ejs');%>

<body>
	<%- include('reusables/navbar-bootstrap.ejs');%>
	<%- include('reusables/carousel-search-bs.ejs');%>
	<%- include('reusables/scripts-bootstrap.ejs');%>
	<%- include('reusables/card.ejs');%>
</body>
</html>