<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/kleva-main-theme.css">
        <title><%= pageTitle; %></title>
    </head>
    <body>
        <%- include('reusables/navbar-bootstrap.ejs');%>
        <%- include('reusables/carousel-bootstrap.ejs');%>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-xs-1 m-2">
                    <a class="<%= path === '/about' ? 'active' : 'btn btn-outline-secondary btn-sm'; %>" href="/creator-dashboard">Creators</a>    
                </div>
                <div class="col-xs-1 m-2">           
                    <a class="<%= path === '/login' ? 'active' : 'btn btn-outline-secondary btn-sm'; %>" href="/login">Login</a>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="container-main">
                <!--Logo-->
                <img src="img/logosmall.png" class="img-fluid mx-auto d-block" alt="Kleva Logo">
                
                <!--Search Bar-->
                <div class="row justify-content-center">
                    <form class="form-inline d-flex justify-content-center md-form form-sm">
                        <input type="text" class="form-control form-control-sm mr-3" placeholder="Search..." id="search">
                        <i class="btn btn-outline-secondary fas fa-search" aria-hidden="true"></i>
                    </form>
                </div>

                <!--Featured Button-->
                <div class="col-xs-1 my-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm">Featured</button>
                </div>

                <!--Game Banner-->
                <div class="row justify-content-center rounded bg-game">
                    <div class="col-lg-5">
                        <img src="img/bridgeConFeatureSplash.png" class="img-fluid mx-auto d-block" alt="Bridge Constructor Splash">
                    </div>
                    <div class="col-lg-7">
                        <h3>Bridge Constructor</h3>        
                        <p>Build a bridge, get over it.  Highly Educational</p>
                        <div class="row">
                            <div class="col"><img src="img/bridgeConScreen1.png" class="img-fluid" alt="Bridge Constructor 1"></div>
                            <div class="col"><img src="img/bridgeConScreen2.png" class="img-fluid" alt="Bridge Constructor 2"></div>
                            <div class="col"><img src="img/bridgeConScreen3.png" class="img-fluid" alt="Bridge Constructor 3"></div>
                            <div class="col"><img src="img/bridgeConScreen4.png" class="img-fluid" alt="Bridge Constructor 4"></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h4 class="h-100 align-self-end cost">A$ 14.99</h4>
                            <div class="windows-logo h-100 align-self-end"><img src="img/windowsPlatform.png" class="img-fluid" alt="Windows Platform"></div>
                        </div>
                    </div>
                </div>
                
                <!--Game Slideshow Controls-->
                <div class="row justify-content-center">
                    <button type="button" class="m-1 btn btn-dark btn-circle btn-sm"></button>
                    <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
                    <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
                    <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
                    <button type="button" class="m-1 btn btn-light btn-circle btn-sm"></button>
                </div>
                
                <!--Trending Button-->
                <div class="col-xs-1 my-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm">Trending</button>
                </div>
            </div>
        </div>
        

        <!-- Optional JavaScript -->
        <%- include('reusables/scripts-bootstrap.ejs');%>
    </body>
</html>
