<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/creator-dashboard.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <title>Kleva</title>
</head>

<body>
  <!-- Dashboard Container -->
  <div class="">
    <!-- Navigation Bar -->
    <header class="header">
      <!-- Logo -->
      <img src="img/logo.png" alt="Kleva" class="logo" />
      <!-- Search Bar -->
      <form action="/" class="search" method="POST">
        <input type="text" class="search__input" placeholder="Search Games" />
        <button class="search__button">
          <svg class="search__icon">
            <use xlink:href="img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <!-- Mobile Menu  -->
      <div class="mobile-navigation">
        <input type="checkbox" class="mobile-navigation__checkbox" id="menu_burger" />

        <label for="menu_burger" class="mobile-navigation__button">
          <svg class="mobile-navigation__button-icon">
            <use xlink:href="img/symbol-defs.svg#icon-menu"></use>
          </svg>
        </label>

        <div class="mobile-navigation__background"></div>

        <nav class="mobile-navigation__nav">
          <ul class="mobile-navigation__list">
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Home</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Log Out</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Games</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Help</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Desktop and Tablet Menu -->
      <nav class="user-nav">
        <div class="user-nav__icon-box">
          <a href="/">
            <svg class="user-nav__icon">
              <use xlink:href="img/symbol-defs.svg#icon-home"></use>
            </svg>
          </a>
        </div>
        <div class="user-nav__icon-box">
          <svg class="user-nav__icon">
            <use xlink:href="img/symbol-defs.svg#icon-exit"></use>
          </svg>
        </div>
        <div class="user-nav__user">
          <img src="img/profile.png" alt="User Photo" class="user-nav__user-photo" />
          <span class="user-name"><%= name %></span>
        </div>
      </nav>
    </header>

    <div class="content">
      <!-- Dashboard Side Bar -->
      <nav class="side-bar">
        <!-- Dashboard Pages -->
        <ul class="side-nav">
          <!-- Active Styling with Plain JS Logic -->
          <li class="<%= path === '/teacher-dashboard' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/teacher-dashboard" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-box-remove"></use>
              </svg>
              <span>Classroom</span>
            </a>
          </li>
          <li class="<%= path === '/your-apps' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/teacher-students" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-user-check"></use>
              </svg>
              <span>Students</span>
            </a>
          </li>
          <li class="<%= path === '/help' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-lifebuoy"></use>
              </svg>
              <span>Help</span>
            </a>
          </li>
        </ul>
        <!-- Legal Text -->
        <div class="legal">&copy; 2020 by Kleva Pty. Ltd.</div>
      </nav>
      <!-- Main Content Area -->
      <div class="container-fluid pr-0 pl-0 py-5">
        <div class="px-5 py-5">
          <div class="ml-5 mr-5 container-md mx-auto ">
            <div class="row justify-content-center">
              <div class="col-12 mt-5 text-center">
                <img src="img/kleva_doodles_bw.png" class="img-fluid" height="180px" width="300px" />
              </div>
              <div class="col-10 mt-5">
                <form action="/teacher/game-room" method="POST">

                  <!-- Question 1 -->
                  <div class="input-group mb-5">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="doodle01" style="font-size: 3rem">Doodle...</label>
                    </div>
                    <select class="custom-select" id="doodle01" style="font-size: 3rem">
                      <!-- Doodle Question Options 1 -->
                      <option selected>hydrogen structure</option>
                      <option value="oxygen structure">oxygen structure</option>
                      <option value="lithium structure">lithium structure</option>
                      <option value="magnesium structure">magnesium structure</option>
                    </select>

                    <div class="input-group col-12 justify-content-center mt-3">
                      <button class="btn" type="button" style="font-size: 3rem; box-shadow: none;">
                        <img id="questionButton1" src="img/add_question_button.png" class="img-fluid"
                          onClick="changeImage1()" />
                      </button>
                    </div>


                  </div>


                  <!-- Question 2 -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="doodle02" style="font-size: 3rem">Doodle...</label>
                    </div>
                    <select class="custom-select" id="doodle02" style="font-size: 3rem">
                      <!-- Doodle Question Options 2 -->
                      <option selected>hydrogen structure</option>
                      <option value="oxygen structure">oxygen structure</option>
                      <option value="lithium structure">lithium structure</option>
                      <option value="magnesium structure">magnesium structure</option>
                    </select>
                    <div class="input-group col-12 justify-content-center mt-3">
                      <button class="btn" type="button" style="font-size: 3rem;  box-shadow: none;">
                        <img id="questionButton2" src="img/add_question_button.png" class="img-fluid"
                          onClick="changeImage()" />

                      </button>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row mt-5 justify-content-center">
              <div class="col-10 mt-5 text-center">
                <h1>Share this code with your students:</h1>
                <h1 class="badge badge-warning" style="font-size: 5rem">
                  <%= classCode %>
                </h1>
              </div>
              <div class="col-10 mt-5 text-center">
                <button class="btn btn-block" style="font-size: 3rem; box-shadow: none;" type="submit">
                  <img src="img/open_gameroom_bold.png" class="img-fluid" />
                </button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script language="javascript">
  function changeImage() {
    if (document.getElementById("questionButton2").src == "http://localhost:3000/img/add_question_button.png") {
      document.getElementById("questionButton2").src = "http://localhost:3000/img/cancel_button.png";
      $('#doodle02').prop('disabled', true);
    } else {
      document.getElementById("questionButton2").src = "http://localhost:3000/img/add_question_button.png";
      $('#doodle02').prop('disabled', false);
    }
  };
  function changeImage1() {
    if (document.getElementById("questionButton1").src == "http://localhost:3000/img/add_question_button.png") {
      document.getElementById("questionButton1").src = "http://localhost:3000/img/cancel_button.png";
      $('#doodle01').prop('disabled', true);
    } else {
      document.getElementById("questionButton1").src = "http://localhost:3000/img/add_question_button.png";
      $('#doodle01').prop('disabled', false);
    }
  };
</script>

</html>