<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/creator-dashboard.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>


  <title>Kleva</title>
</head>

<body>
  <!-- Dashboard Container -->
  <div class="">
    <!-- Navigation Bar -->
    <header class="header">
      <!-- Logo -->
      <img src="img/logo.png" alt="Kleva" class="logo" />
      <!-- Search Bar -->
      <form action="/" class="search" method="POST">
        <input type="text" class="search__input" placeholder="Search Games" />
        <button class="search__button">
          <svg class="search__icon">
            <use xlink:href="img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <!-- Mobile Menu  -->
      <div class="mobile-navigation">
        <input type="checkbox" class="mobile-navigation__checkbox" id="menu_burger" />

        <label for="menu_burger" class="mobile-navigation__button">
          <svg class="mobile-navigation__button-icon">
            <use xlink:href="img/symbol-defs.svg#icon-menu"></use>
          </svg>
        </label>

        <div class="mobile-navigation__background"></div>

        <nav class="mobile-navigation__nav">
          <ul class="mobile-navigation__list">
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Home</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Log Out</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Games</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Help</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Desktop and Tablet Menu -->
      <nav class="user-nav">
        <div class="user-nav__icon-box">
          <a href="/">
            <svg class="user-nav__icon">
              <use xlink:href="img/symbol-defs.svg#icon-home"></use>
            </svg>
          </a>
        </div>
        <div class="user-nav__icon-box">
          <form action="/sign-out" method="POST">
            <button type="submit user-signout" style="border: none; background-color: transparent; ">
              <svg class="user-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-exit"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="user-nav__user">
          <img src="img/profile.png" alt="User Photo" class="user-nav__user-photo" />
          <span class="user-name"><%= name %></span>
        </div>
      </nav>
    </header>

    <div class="content">
      <!-- Dashboard Side Bar -->
      <nav class="side-bar">
        <!-- Dashboard Pages -->
        <ul class="side-nav">
          <!-- Active Styling with Plain JS Logic -->
          <li class="<%= path === '/teacher-dashboard' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/teacher-dashboard" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-box-remove"></use>
              </svg>
              <span class="sideBarCustom">Classroom</span>
            </a>
          </li>
          <li class="<%= path === '/your-apps' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/teacher-students" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-user-check"></use>
              </svg>
              <span class="sideBarCustom">Statistics</span>
            </a>
          </li>
          <li class="<%= path === '/help' ? 'side-nav__item--active' : 'side-nav__item' %>">
            <a href="/help" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-lifebuoy"></use>
              </svg>
              <span class="sideBarCustom">Help</span>
            </a>
          </li>
        </ul>
        <!-- Legal Text -->
        <div class="legal">&copy; 2020 by Kleva Pty. Ltd.</div>
      </nav>
      <!-- Main Content Area -->
      <div class="container-fluid pr-0 pl-0 py-5">
        <div class="px-5 py-5">
          <div class="ml-5 mr-5 container-md mx-auto ">
            <div class="row justify-content-center">
              <div class="col-12 mt-5 text-center mb-5">
                <img src="img/kleva_doodles_bw.png" class="img-fluid" height="180px" width="300px" />
              </div>
              <!-- OPENAI GPT-3 Question Generation -->
              <!-- <div class="row mt-3 justify-content-around mb-5">

                <div class="col-6 col-md-3">


                  <label for="qGeneratorSubject" style="font-size: 2rem;">Substrand</label>
                  <input id="qGeneratorSubject" type='text' value="<%- substrand %>" name="qGeneratorSubject"
                    class="doodleQuestionBoxPrepend w-100">
                </div>


                <div class="col-5 col-md-3">
                  <label for="qGeneratorYearLevel" style="display: block; font-size: 2rem;">Year</label>
                  <input id="qGeneratorYearLevel" type='text' value="<%- yearLevel %>" name="qGeneratorYearLevel"
                    class="doodleQuestionBoxPrepend w-100" style="margin: none;">
                </div> -->

              <!-- <% if (scot.length > 0) { %>
                <div class="col-12 col-md-6">

                  <label for="qGeneratorTerm" style="font-size: 2rem;">Topic: Example 'Molecules'</label>
                  <select class="custom-select doodleQuestionBoxPrepend w-100" id="qGeneratorTerm"
                    style="font-size: 2.2rem" name="qGeneratorTerm">
                    <% for (let acaraQuestions of scot) { %>
                    <option value="<%- acaraQuestions %>"><%- acaraQuestions %></option>

                    <% } %>
                  </select>
                </div>
                <% } else { %>
                <div class="col-12 col-md-6">
                  <label for="qGeneratorTerm" style="font-size: 1.5rem;">Term</label>
                  <input id="qGeneratorTerm" type='text' placeholder="Example: Molecules" name="qGeneratorTerm"
                    class="doodleQuestionBoxPrepend">
                </div>
                <% } %>
              </div>
              <div class="col-12 mb-5 mx-0" style="padding: 0rem;">
                <input id="AIGENERATED" class="aidoodleQuestionBox w-100" placeholder="Doodle the... (Powered by AI)"
                  style="font-size: 2.2rem;">
              </div>
              <div class="col-12 text-center mb-5">
                <button class="btn mb-5 doodleAddQuestionButton btn-lg" style="font-size: 5rem"
                  onclick="questionGenerator()">Create an AI Generated
                  Question</button>
                <hr>
              </div> -->

              <div class="col-10 mt-5">
                <form action="/teacher/game-room" method="POST">
                  <input type="hidden" value="<%- classCode %>" name="classCode">
                  <!-- Question 1 -->
                  <div class="input-group mb-5">
                    <div class="input-group-prepend">
                      <label class="input-group-text doodleQuestionBoxText" for="doodle01a"
                        style="font-size: 3rem">Doodle...</label>
                      <select class="custom-select doodleQuestionBoxPrepend" id="doodle01a" style="font-size: 3rem"
                        name="doodleOnePreprend">
                        <option selected>an example of</option>
                        <option value="a diagram of">a diagram of</option>
                        <option value="a">a</option>
                        <option value="an">an</option>
                        <option value="your interpretation of">your interpretation of</option>
                        <option value="the structure of">the</option>
                        <option value="the effect of">the effect of</option>
                        <option value="the shape of">the shape of</option>
                        <option value="the structure of">the structure of</option>

                      </select>
                    </div>
                    <select class="custom-select doodleQuestionBoxSelect" id="doodle01b" style="font-size: 3rem"
                      name="doodleOne">
                      <!-- Doodle Question Options 1 -->

                      <% if (scot.length > 0) { %>

                      <% for (let acaraQuestions of scot) { %>
                      <option value="<%- acaraQuestions %>"><%- acaraQuestions %></option>
                      <% } %>
                      <% } else { %>
                      <option selected>hydrogen structure</option>
                      <option value="oxygen structure">oxygen structure</option>
                      <option value="lithium structure">lithium structure</option>
                      <option value="magnesium structure">magnesium structure</option>
                      <% } %>

                    </select>

                    <div class="input-group col-12 justify-content-center mt-3">
                      <button class="questionButton" type="button" style="background-color: transparent;">
                        <img id="questionButton1"
                          src="https://storage.googleapis.com/kleva_assets/add_question_button-min.png"
                          class="img-fluid" onClick="changeImage1()" style="background-color: transparent;" />
                      </button>
                    </div>


                  </div>


                  <!-- Question 2 -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text doodleQuestionBoxText" for="doodle02a"
                        style="font-size: 3rem">Doodle...</label>
                      <select class="custom-select doodleQuestionBoxPrepend" id="doodle02a" style="font-size: 3rem"
                        name="doodleTwoPreprend">
                        <option selected>an example of</option>
                        <option value="a diagram of">a diagram of</option>
                        <option value="a">a</option>
                        <option value="an">an</option>
                        <option value="your interpretation of">your interpretation of</option>
                        <option value="the structure of">the</option>
                        <option value="the structure of">the structure of</option>
                        <option value="the shape of">the shape of</option>
                      </select>
                    </div>
                    <select class="custom-select doodleQuestionBoxSelect" id="doodle02b" style="font-size: 3rem"
                      name="doodleTwo">
                      <!-- Doodle Question Options 2 -->
                      <% if (scot.length > 0) { %>
                      <% for (let acaraQuestions of scot) { %>
                      <option value="<%- acaraQuestions %>"><%- acaraQuestions %></option>
                      <% } %>
                      <% } else { %>
                      <option selected>hydrogen structure</option>
                      <option value="oxygen structure">oxygen structure</option>
                      <option value="lithium structure">lithium structure</option>
                      <option value="magnesium structure">magnesium structure</option>
                      <% } %>
                    </select>
                    <div class="input-group col-12 justify-content-center mt-3">
                      <button class="questionButton" type="button" style="background-color: transparent;">
                        <img id="questionButton2"
                          src="https://storage.googleapis.com/kleva_assets/add_question_button-min.png"
                          class="img-fluid" onClick="changeImage()" style="background-color: transparent;" />

                      </button>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row mt-5 justify-content-center">
              <div class="col-10 mt-5 text-center">
                <button class="btn-block questionButton" type="submit" style="background-color: transparent;">
                  <img src="img/open_gameroom_bold.png" class="img-fluid" style="background-color: transparent;" />
                </button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script language="javascript">
  function changeImage() {
    if (document.getElementById("questionButton2").src == "https://storage.googleapis.com/kleva_assets/add_question_button-min.png") {
      document.getElementById("questionButton2").src = "https://storage.googleapis.com/kleva_assets/cancel_button-min.png";

    } else {
      document.getElementById("questionButton2").src = "https://storage.googleapis.com/kleva_assets/add_question_button-min.png";

    }
  };
  function changeImage1() {
    if (document.getElementById("questionButton1").src == "https://storage.googleapis.com/kleva_assets/add_question_button-min.png") {
      document.getElementById("questionButton1").src = "https://storage.googleapis.com/kleva_assets/cancel_button-min.png";

    } else {
      document.getElementById("questionButton1").src = "https://storage.googleapis.com/kleva_assets/add_question_button-min.png";

    }
  };
</script>
<script src="/js/ai.js"></script>

</html>