<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/creator-dashboard.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <title>Kleva</title>
</head>

<body>
  <!-- Dashboard Container -->
  <div class="">
    <!-- Navigation Bar -->
    <header class="header">
      <!-- Logo -->
      <a href="/">
        <img src="img/logo.png" alt="Kleva" class="logo" />
      </a>
      <!-- Search Bar -->
      <form action="/" class="search" method="POST">
        <input type="text" class="search__input" placeholder="Search Games" />
        <button class="search__button">
          <svg class="search__icon">
            <use xlink:href="img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <!-- Mobile Menu  -->
      <div class="mobile-navigation">
        <input type="checkbox" class="mobile-navigation__checkbox" id="menu_burger" />

        <label for="menu_burger" class="mobile-navigation__button">
          <svg class="mobile-navigation__button-icon">
            <use xlink:href="img/symbol-defs.svg#icon-menu"></use>
          </svg>
        </label>

        <div class="mobile-navigation__background"></div>

        <nav class="mobile-navigation__nav">
          <ul class="mobile-navigation__list">
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Home</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Log Out</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Games</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Help</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Desktop and Tablet Menu -->
      <nav class="user-nav">
        <div class="user-nav__icon-box">
          <a href="/">
            <svg class="user-nav__icon">
              <use xlink:href="img/symbol-defs.svg#icon-home"></use>
            </svg>
          </a>
        </div>
        <!-- Logout Button -->


    
        <div class="user-nav__icon-box">
          <form action="/sign-out" method="POST">
            <button type="submit" style="border: none; background-color: inherit">
            
              <svg class="user-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-exit"></use>
              </svg>
            </button>
          </form>
        </div>


        <div class="user-nav__user">
          <a href="/profile">
            <img src="img/profile.png" alt="User Photo" class="user-nav__user-photo" />
            <span class="user-name"><%= name; %></span>
          </a>
        </div>
      </nav>
    </header>

    <div class="content">
      <!-- Dashboard Side Bar -->
      <nav class="side-bar">
        <!-- Dashboard Pages -->
        <ul class="side-nav">
          <!-- Active Styling with Plain JS Logic -->
 



          <li class="<%= path === '/teacher-dashboard' ? 'side-nav__item--active' : 'side-nav__item'; %>">
            <a href="/teacher-dashboard" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-box-remove"></use>
              </svg>
              <span>Classroom</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="/teacher-schedule" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#calendar"></use>
              </svg>
              <span>Schedule Calendar</span>
            </a>
          </li>
          <li class="<%= path === '/your-apps' ? 'side-nav__item--active' : 'side-nav__item'; %>">
            <a href="/teacher-students" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-user-check"></use>
              </svg>
              <span>Statistics</span>
            </a>
          </li>
          <li class="<%= path === '/help' ? 'side-nav__item--active' : 'side-nav__item'; %>">
            <a href="/" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="img/symbol-defs.svg#icon-lifebuoy"></use>
              </svg>
              <span>Help</span>
            </a>
          </li>
        </ul>
        <!-- Legal Text -->
        <div class="legal">&copy; 2020 by Kleva Pty. Ltd.</div>
      </nav>

      <div class="container-fluid pr-0 pl-0 py-5">
        <div class="px-5 py-5">
          <div class="ml-5 mr-5 container-md mx-auto ">

            <h1 class="display-3">Your Classrooms</h1>

            <%- include('../reusables/classroom-modal.ejs'); %>


            <div class="row d-flex justify-content-around p-5">
              <div class="card col-8 col-md-3 m-3 shadow-sm rounded">
                <div class="card-title text-center mt-3">Add A Classroom</div>
                <div class="card-body">
                  <img class="d-flex justify-content-center w-100 hover img-fluid"
                    src="https://storage.googleapis.com/kleva_assets/addClassroom.png" role="button" data-toggle="modal"
                    data-target="#exampleModal" />
                </div>
                <button data-toggle="modal" data-target="#exampleModal"
                  class="btn mb-4 w-100 classroomAddClassroomButton">
                  Add Classroom +
                </button>
              </div>
              <% if (classrooms.length > 0) { %> <% for (let classRoom of
              classrooms) { %>
              <div class="card col-8 col-md-3 m-3 shadow-sm ">
                <div class="card-title text-center mt-3">
                  <%- classRoom.title %>
                </div>
                <div class="card-body text-center">
                  <h3>Year Level: <%- classRoom.yearLevel %></h3>

                  <h3>Subject: <%- classRoom.subject %></h3>
                  <h1 class="mt-5">Class Code: </h1>
                  <p class="display-4"><%- classRoom.classCode %></p>
                </div>
                <!-- <a href="/classroom/<%- classRoom.classCode %>" class="btn mb-4 w-100 classroomMuttons"
                  style="background-color: bisque; font-size: 1.5rem;">Visit Classroom ></a> -->
                <a href="/classroom/<%- classRoom.classCode %>" class="btn mb-4 w-100 classroomMuttons visit-class"
                  >Visit Classroom ></a>
                <button data-toggle="modal" data-target="#<%- classRoom.classCode %>"
                  class="btn mb-4 w-100 classroomAddGameButton">
                  Create Live Game +
                </button>

              </div>
              <!-- Dynamic Doodle Questions Modal -->

              <%- include('../reusables/doodle-modal.ejs', {subject:  classRoom.subject, classRoom: classRoom }) %>
            </div>
            <button type="submit" class="btn w-100 my-5 add_classroom_modal_button">Continue to Questions ></button>
          </div>

          </form>
        </div>
      </div>
    </div>
    <% } %> <% } %>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</body>
<script></script>

</html>