<%- include('../reusables/head.ejs') %>
<link rel="stylesheet" href="css/creator-dashboard.css">
<link rel="stylesheet" href="css/form.css">
<title>Kleva: <%= pageTitle %></title>
<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js" defer></script>
<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" defer></script>
</head>

<body>
    <!-- <% if (error) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size: 2.5rem;">
        <%- error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size: 2.5rem;">&times;</span>
        </button>
    </div>
    <%}%> -->

    <div class="content">
        <!-- Main Content Area -->
        <main class="authentication">
            <!-- Signin Error -->
            <% if (error) { %>
            <div class="row justify-content-center mt-5"
                style="position: absolute; width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-10 col-md-8 col-lg-5 alert alert-warning alert-dismissible fade show"
                    style="z-index: 1500; position: relative; font-size: 2rem;" role="alert">
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <% } %>
            <!-- Game Upload Form -->
            <div class="authentication__form" id="login">
                <a href="/" class="authentication__logo"><img src="https://storage.googleapis.com/kleva_assets/logo.png"
                        alt="Kleva" class="authentication__logo-image"></a>
                <form action="/teacher-signin" class="authentication__form-box" method="POST">

                    <div class="authentication__form-container">
                        <h3 class="authentication__form-maintitle">Sign in to your account</h3>
                        <!-- Username -->
                        <label class="authentication__form-title" for="username">Email Username</label>
                        <input class="authentication__form-input" type="email" id="username" name="username"
                            placeholder="Username" /><br>

                        <!-- Password -->
                        <div class="authentication__form-password-title">
                            <span style="float:left">Password</span>
                            <a class="authentication__form-password" href="/reset">Forgot Your Password?</a>
                        </div>

                        <input class="authentication__form-input" type="password" id="password" name="password"
                            placeholder="Password" /><br>

                        <!-- Submission Button -->

                        <input class="authentication__form-button klevabtn" type="submit" value="Login">
                        <span class="authentication__form-signup-text">Don't have an account? <a href="/teacher-signup"
                                style="text-decoration: none;">Sign up</a></span>

                    </div>
                </form>

            </div>
        </main>
    </div>

    <!-- Signin Error -->

    <% if (error) { %>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= error %>
    </div>
    <% } %>

    </div>
</body>