<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../css/creator-dashboard.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/calendar.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <!-- DatePicker Scripts -->
  <link data-require="pickadate.js@*" data-semver="3.3.0" rel="stylesheet"
    href="https://rawgithub.com/amsul/pickadate.js/cab638a5cbf6d7b959096ed346d9216370cfb543/lib/themes/default.css" />
  <link data-require="pickadate.js@*" data-semver="3.3.0" rel="stylesheet"
    href="https://rawgithub.com/amsul/pickadate.js/cab638a5cbf6d7b959096ed346d9216370cfb543/lib/themes/default.date.css" />
  <link data-require="pickadate.js@*" data-semver="3.3.0" rel="stylesheet"
    href="https://rawgithub.com/amsul/pickadate.js/cab638a5cbf6d7b959096ed346d9216370cfb543/lib/themes/default.time.css" />
  <script data-require="pickadate.js@*" data-semver="3.3.0"
    src="https://rawgithub.com/amsul/pickadate.js/cab638a5cbf6d7b959096ed346d9216370cfb543/lib/picker.js"></script>
  <script data-require="pickadate.js@*" data-semver="3.3.0"
    src="https://rawgithub.com/amsul/pickadate.js/cab638a5cbf6d7b959096ed346d9216370cfb543/lib/picker.date.js"></script>
  <script data-require="pickadate.js@*" data-semver="3.3.0"
    src="https://rawgithub.com/amsul/pickadate.js/cab638a5cbf6d7b959096ed346d9216370cfb543/lib/picker.time.js"></script>

  <title>Kleva</title>

</head>

<body>
  <!-- Dashboard Container -->
  <div class="">
    <!-- Navigation Bar -->
    <header class="header">
      <!-- Logo -->
      <img src="../img/logo.png" alt="Kleva" class="logo" />
      <!-- Search Bar -->
      <form action="/" class="search" method="POST">
        <input type="text" class="search__input" placeholder="Search Games" />
        <button class="search__button">
          <svg class="search__icon">
            <use xlink:href="../img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <!-- Mobile Menu  -->
      <div class="mobile-navigation">
        <input type="checkbox" class="mobile-navigation__checkbox" id="menu_burger" />

        <label for="menu_burger" class="mobile-navigation__button">
          <svg class="mobile-navigation__button-icon">
            <use xlink:href="../img/symbol-defs.svg#icon-menu"></use>
          </svg>
        </label>

        <div class="mobile-navigation__background"></div>

        <nav class="mobile-navigation__nav">
          <ul class="mobile-navigation__list">
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Home</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Log Out</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Games</a>
            </li>
            <li class="mobile-navigation__item">
              <a href="" class="mobile-navigation__link">Help</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Desktop and Tablet Menu -->
      <nav class="user-nav">
        <div class="user-nav__icon-box">
          <a href="/">
            <svg class="user-nav__icon">
              <use xlink:href="../img/symbol-defs.svg#icon-home"></use>
            </svg>
          </a>
        </div>
        <div class="user-nav__icon-box">
          <form action="/sign-out" method="POST">
            <button type="submit" style="border: none; background-color: inherit">
              <svg class="user-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-exit"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="user-nav__user">
          <img src="../img/profile.png" alt="User Photo" class="user-nav__user-photo" />
          <span class="user-name"><%= name; %></span>
        </div>
      </nav>
    </header>

    <div class="content">
      <!-- Dashboard Side Bar -->
      <nav class="side-bar">
        <!-- Dashboard Pages -->
        <ul class="side-nav">
          <!-- Active Styling with Plain JS Logic -->
          <li class="<%= path === '/your-apps' ? 'side-nav__item--active' : 'side-nav__item'; %>">
            <a href="/teacher-game-storepage/<%- classRoom.classCode%>?page=1" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-click"></use>
              </svg>
              <span>Add Games</span>
            </a>
          </li>
          <li class="<%= path === '/teacher-dashboard' ? 'side-nav__item--active' : 'side-nav__item'; %>">
            <a href="/teacher-dashboard" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-box-remove"></use>
              </svg>
              <span class="sideBarCustom">Classroom</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="/teacher-dashboard" class="side-nav__link">
              <!-- Sidebar Icon -->
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#calendar"></use>
              </svg>
              <span class="sideBarCustom">Schedule Calendar</span>
            </a>
          </li>
          <li class="<%= path === '/your-apps' ? 'side-nav__item--active' : 'side-nav__item'; %>">
            <a href="/teacher-students" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-user-check"></use>
              </svg>
              <span class="sideBarCustom">Statistics</span>
            </a>
          </li>
          <li class="<%= path === '/help' ? 'side-nav__item--active' : 'side-nav__item'; %>">
            <a href="/help" class="side-nav__link">
              <svg class="side-nav__icon">
                <use xlink:href="../img/symbol-defs.svg#icon-lifebuoy"></use>
              </svg>
              <span>Help</span>
            </a>
          </li>
        </ul>
        <!-- Legal Text -->
        <div class="legal">&copy; 2020 by Kleva Pty. Ltd.</div>
      </nav>

      <!-- Main Content Area -->
      <div class="container-fluid pr-0 pl-0 py-5">
        <div class="py-5">
          <div class="ml-5 mr-5 container-md mx-auto ">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/teacher-dashboard">All Classrooms</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="/classroom/<%- classRoom.classCode; %>"> Class - <%= classRoom.title; %></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Schedule Games
                </li>
              </ol>
            </nav>
            <div class="col-12">
              <form class="rounded border-primary shadow-lg bg-light col-12 p-5 text-dark"
                action="/game-schedule-upload" method="POST">
                <h1>Schedule Games</h1>
                <p>
                  <%= classRoom.title%> <%= classRoom.yearLevel %> <%= classRoom.subject; %>
                </p>
                <h3>You can preselect games for upcoming days of the week</h3>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Pick a date:</span>
                  </div>
                  <input type="text" id="date" name="date" data-type="date" aria-label="Date"
                    aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <button type="button" class="btn bg-primary">
                    <a class="text-white text-decoration-none" href="/teacher-game-storepage-schedule/?page=1">Select
                      Games to Schedule</a>
                  </button>
                </div>
                <div class="input-group mb-3">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>

              <!-- Load all the installed games  (Set the games to session so as not confuse
                posting to the database)-->
              <div class="rounded border-primary shadow-lg bg-light col-12">
                <h1 class="col-xs-1 mt-3 pt-5 text-center">Selected Games for Scheduling</h1>
                <div class="row mt-5">

                  <!-- Game Loader -->
                  <% if (games.length > 0) { %> <% for (let game of games) { %>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="../gamepage/<%= game.gameID %>"><img class="card-img-top"
                          style="width: 100%; height: 300px; object-fit: cover;" src="<%- game.gameImageURL %>"
                          alt="" /></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#"><%- game.title %></a>
                        </h4>
                        <p class="card-text"><%- game.description %></p>

                        <div id="result"></div>
                      </div>
                      <div class="card-footer">
                        <small><%- game.category %></small>
                      </div>
                    </div>
                  </div>
                  <% } %> <% } %>
                </div>
              </div>
              <script>
                $('input[data-type="date"]').pickadate();
              </script>
            </div>
            <div id="events-accordion">
            </div>
          </div>
        </div>
      </div>
</body>
<script src="/js/calendar.js"></script>
<script></script>

</html>